.body{

    background-image: url(back.jpg);
    background-repeat: repeat;
    
}

.menubod{

    margin: -10px -50px;
}

.menu{

    min-width: 100%;
    min-height: 100%;
    position: relative;

    background-image: repeating-radial-gradient(#d1d1d1,#343434);
 
    border: solid #000000 8px;


}

.title {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    color: #000000 ;
    letter-spacing: 16px;

    text-align: center;
}

.title2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    color: #dadada ;

    text-align: center;

    background-color: #494949;
}

.title3{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    color: #494949;
    
    text-align: center;

    border-top: dashed #232323 5px ;
    border-bottom: dashed #232323 5px;
}

.photo{

     border: 6px #303823 solid;

    display: block;

    margin-left: auto;

    margin-right: auto

}

.discribing{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    font-size: larger; 

    text-align: center;

    color: #494949;
}

.al1{

    border: #013400 10px solid;

    background-color: #eaffd0b7;
    width: 240px;
    margin-left: 240px;

    height: 420px;
}

.pa1{

    border: 6px #303823 solid;
    display: block;

    margin-left: auto;
    margin-right: auto;

}
.pa1:hover{
    transform: scale(2);
    border: 6px #303823 solid;
    display: block;

    margin-left: auto;
    margin-right: auto;

}

.a1{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    
    color: #303823 ;

}

.p1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    
    color: #303823;
}

.la1{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    color: #216437 ;
}


.lt1{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    color: #216437  ;
}

.al2{

    display: block;

    background-color: #333333e1;

    border: #1e1e1e solid 10px;

    width: 240px;

    margin-left: 600px;
    margin-top: -440px;
    height: 420px;

}
.pa2{

    border: 6px #c3c3c3 solid;
    display: block;

    margin-left: auto;
    margin-right: auto;
}
.pa2:hover{
    transform: scale(2);
    border: 6px #c3c3c3 solid;
    display: block;

    margin-left: auto;
    margin-right: auto;
}
.a2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    color: #ededed;
}

.la2{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    color: #a79bcc  ;

}

.lt2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    color: #a79bcc  ;
}


.p2{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    color: #c3c3c3;
    
}


.al3{

    display: block;

    border: #232323 10px solid;

    background-color: #eaeaeab5;

    width: 240px;

    margin-left: 960px;
    margin-top: -440px;
    height: 420px;
}

.pa3{

border: 6px #7d7d7d solid;

display: block;

margin-left: auto;
margin-right: auto;
}
.pa3:hover{
transform: scale(2);
border: 6px #7d7d7d solid;

display: block;

margin-left: auto;
margin-right: auto;
}

.a3{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    color: #030015 ;
}

.la3{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    color: #09063f  ;
    
}

.lt3{

 font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    color: #09063f  ;

}

.p3{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    color: #09063f 
}

.title4{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    color: #494949;
    
    text-align: center;

    border-top: dashed #232323 5px ;
    border-bottom: dashed #232323 5px;
}

.CA{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    border: #303823 solid 10px;
    background-color: #ededed;
    margin-right: 25%;
    margin-left: 25%;

}

.title5{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    color: #494949;
    
    text-align: center;

    border-top: dashed #232323 5px ;
    border-bottom: dashed #232323 5px;
}

.INB{
    
    border: #555555 6px solid;
    background-color: #d3d3d3b1;

    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.IN1{

    border: #555555 10px solid;
    background-color: #d3d3d3b1;
    height: auto;
    width: 330px;

    margin-left: 80;

}

.i1t{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    color: #2f200c;
    text-align: left;

}

.PI1{
    display: block;
    margin-top: auto;
   border: #555555 10px solid;
}

.IN2{
    border: #555555 10px solid;
    background-color: #d3d3d3b1;
    height: auto;
    width: 330px;
}

.i2t{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    color: #2f200c;
    text-align: left;

}

.PI2{
    display: block;
    margin-top: auto;
    border: #555555 10px solid;
}

.IN3{
    border: #555555 10px solid;
    background-color: #d3d3d3b1;
    height: auto;
    width: 330px;
}

.i3t{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    color: #2f200c;
    text-align: left;

}

.PI3{
    display: block;
    margin-top: auto;
    border: #555555 10px solid;
}

.IN4{
    border: #555555 10px solid;
    background-color: #d3d3d3b1;
    height: auto;
    width: 300px;

}
.i4t{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    color: #2f200c;
    text-align: left;

}

.PI4{
    display: block;
    margin-top: auto;
    border: #555555 10px solid;
    margin-left: 30px;
    
}

.IN5{
    display: block;
    border: #555555 10px solid;
    background-color: #d3d3d3b1;
    height: auto;
    width: 330px;


}

.i5t{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    color: #2f200c;
    text-align: left;
}

.IN6{
    border: #555555 10px solid;
    background-color: #d3d3d3b1;
    height: auto;
    width: 330px;


}

.i6t{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    color: #2f200c;
    text-align: left;

}

.IN7{

    border: #555555 10px solid;
    background-color: #d3d3d3b1;
    height: auto;
    width: 330px;

}

.PI8{
     display: block;
    margin-top: auto;
   border: #555555 10px solid;

}

a.INLI{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    color: #494949 !important;
}

.upf{
    position: fixed;
    bottom: 10px;
    right:10px;
}

.upb{
    display: block;
    border: #030015 dashed 2px;
    height: 40px;
    width: 40px;
    background-color: #d1d1d1;
    color:#372424;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}
.upb:hover{
    display: block;
    border: #030015 dashed 2px;
    height: 40px;
    width: 40px;
    background-color: #ffadad;
    color:#5e0000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}
.TBB{
    display: block;
    margin-left: 40%;
    
}
.table{
    border: solid 2px;
}
.Bl{
    border: #000000 solid 1px;
    background-image: radial-gradient(#FFF, #bebebe);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    text-align: center;
}

.PhTa{
    display: block;
    border:#303823 2px solid ;
}
.PhTa:hover{
    transform: scale(3);
    display: block;
    border:#303823 2px solid ;
    background: #FFF;
}

.PoiB{
    border: #000000 solid 5px;
    background-color: #bebebeba;
    display: flex;
}

.poisk{
    width: 500px;
    height: 100px;
    border-right: #000000 dashed 2px;
}
.input{
    margin-top: 5%;
    margin-left: 3%;
    height: 50px;
    width: 400px;
    border: #000000 1px solid;
    color: #333333;
    background-color: #efefef;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: large;

}
.screen{
    display: block;
    width: 200px;
    height: 50px;

}